---
import Cta from "../components/Cta.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Daniel Mössner" description="">
  <Nav />
  <section>
    <article>
      <!-- <div style="display: flex;">
        <figure>
          <img
            src="./start.gif"
            alt="Ein altes Flugzeug"
            style="max-height: 150px;"
          />
          <small>Vorher</small>
        </figure>
        <figure style="">
          <img
            src="./after.gif"
            alt="Ein Spaceship"
            style="max-height: 150px;"
          />
          <small>Nachher</small>
        </figure>
      </div> -->
      <h1 style="margin-top: 0;">
        Maßgeschneiderte Programmierung um Ihren Betrieb zu modernisieren
      </h1>
      <p>
        Als Softwareentwickler mit langjähriger Erfahrung in der Automatisierung
        von Geschäftsprozessen, helfe ich Ihnen, Ihre Arbeitsabläufe zu
        optimieren und zu automatisieren.
      </p>
      <h2>Das Problem</h2>
      <p>
        Mittlerweile gibt es immer mehr IT-Systeme die nicht up-to-date gehalten
        worden sind und nicht mehr auf den neuesten Stand gebracht werden
        können. Teilweise, weil die Technologie nicht mehr weiterentwickelt wird
        oder weil die Entwickler nicht mehr verfügbar sind.
      </p>
      <p>
        Das kann dazu führen, dass Unternehmen Ihre Wettbewerbsfähigkeit
        verlieren oder nach Gesetzesänderungen gar nicht mehr agieren können.
        Auch die Entwicklung von neuen Funktionen und Verbesserungen ist nicht
        mehr möglich.
      </p>
      <h2>Die Lösung</h2>
      <p>
        Ich helfe Ihnen dabei, Ihr bestehendes System zu analysieren und zu
        modernisieren. Dabei wird auf Methoden und Technologien zurück
        gegriffen, die Sie für die nächsten Jahre auf dem neuesten Stand halten
        und mit denen Ihnen nicht dasselbe Schicksal ereilt wie zuvor. Mein Ziel
        ist es dafür zu sorgen, dass Sie der Konkurrenz Meilenschritte
        vorrauseilen.
      </p>
      <h2>Ihre Vorteile</h2>
      <p>
        Viele Unternehmen haben Ihre Prozesse über Jahre hinweg entwickelt und
        verfeinert, aber die IT ist stehen geblieben. Dabei geht es soweit, dass
        keine neuen Funktionen mehr eingebaut werden können.
      </p>
      <p>
        Ich habe mich darauf spezialisiert, bestehende Systeme zu analysieren
        und Schritt für Schritt zu ersetzen, damit Sie wieder der Konkurrenz
        vorauseilen. Für Sie ergeben sich folgende Vorteile:
      </p>
      <ul>
        <li>
          <b>Neue Funktionen</b> - Ihr System wird einfach erweitert und auf neue
          Bedingungen angepasst werden können.
        </li>
        <li>
          <b>Zeitersparnis</b> - Technik stellt kein Hinderniss mehr dar, sondern
          Sie sollen mit so wenig Klicks wie möglich zum Ziel gelangen.
        </li>
        <li>
          <b>Nachts ruhig schlafen</b> - Ihre Daten sind sicher und werden über mehrere
          Backups gespeichert. Wenn der Computer abstürtzt is das kein Problem mehr.
        </li>
        <li>
          <b>Von neuen Möglichkeiten profitieren</b> - Neue Technologien wie zum
          Beispiel KI können einfach integriert werden und Arbeitsabläufe übernehmen.
        </li>
        <li>
          <b>Prozesse die übereinstimmen</b> - Oft sehe ich große Unterschiede darin
          wie ein altes System funktioniert und wie das Geschäft Prozesse abbildet.
          Mein Ziel ist es technische Hindernisse und Umwege aus dem Weg zu schaffen
          und Ihre Prozesse digital genauso abzubilden wie sie in der Realität ablaufen.
        </li>
      </ul>
      <!-- <h2>Meine Referenzen</h2>
      <p>
        Ich habe bereits vielen Unternehmen geholfen von Grund auf Systeme zu
        ersetzen oder neu zu entwerfen. Schauen Sie gerne in meine <a
          href="/projekte">Referenzen</a
        >
        für aktuelle Programmierprojekte. Und eine noch genauere Übersicht über Technologien
        und Methoden finden Sie in meinem <a href="/lebenslauf">Lebenslauf</a>.
      </p> -->
      <h2>Der Plan</h2>
      <p>
        Es klingt oft schwierig ein altes System von dem alles im Geschäft
        abhängt zu erstzen, jedoch wird es mit dem folgenden Plan ziemlich
        einfach. Es wird immer in drei Schritten vorgegangen.
      </p>
      <h3 style="font-weight: normal;">1. Prozessanalyse</h3>
      <p>
        Im ersten Schritt wird der bestehende Prozesse analysiert und überprüft
        ob er ohne große Abhängigkeiten im neuen System umgesetzt werden können.
        Gleichzeitig wird überprüft ob Daten vom neuen System in das alte oder
        andersherum synchronisiert werden müssen. Damit sind nach der Analyse
        die Handlungen die im neuen System abgebildet werden sollen klar,
        genauso wie die möglicherweise auftretenden Schwierigkeiten.
      </p>
      <h3 style="font-weight: normal;">2. Entwicklung</h3>
      <p>
        Im nächsten Schritt findet die Entwicklung statt. Dabei wird
        schrittweise vorgegangen, wobei Sie jederzeit testen und Feedback
        abliefern können. Anfangs wird das neue System parallel zum alten laufen
        und der Prozess kann in beiden Systemen durchgeführt werden. Sobald Sie
        100% zufrieden sind und alles wie gewünscht funktioniert, geht es in
        Schritt 3.
      </p>
      <h3 style="font-weight: normal;">3. Abschaltung und Schleife</h3>
      <p>
        Im dritten Schritt wird die erstzte Funktionalität im alten System
        abgeschalten und das neue System übernimmt. Falls nötig werden die Daten
        in beiden System synchronisiert. Die Synchronisation kann automatisch
        oder manuell erfolgen und sorgt für den reibungslosen Betrieb beider
        Systeme.
      </p>
      <p>
        Danach geht es wieder in Schritt 1 und es wird der nächste Prozess der
        ersetzt werden soll analysiert.
      </p>

      <Cta />
    </article>
  </section>
  <Footer />
</Layout>
