---
import Cta from "../components/Cta.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Daniel Mössner" description="">
  <Nav />
  <section>
    <article>
      <h1 style="margin-top: 0;">Projekte</h1>
      <h2>Programmierprojekte</h2>
      <ul>
        <li>
          <b>Start 2023:</b> FactField GmbH <br />
          <small>
            Komplette Neuentwicklungs des Daten Management Systems. Dabei wurden
            alle Projekte nacheinander auf das neue System gezogen und
            erfolgreich abgewickelt. Insgesamt hat das Unternehmen durch die
            neue Plattform eine enorme Zeitersparnis und höhere Zuverlässigkeit
            erreicht. Zudem können alle Änderungen im System nachverfolgt
            werden.
          </small>
        </li>
        <li>
          <b>Start 2023:</b> Gerber Transfer und Logistik GmbH <br />
          <small>
            Modernisierung von Dispositionsplan und Tourenplanung mit
            maßgenscheiderter Programmierung. Dabei haben wir Prozesse Schritt
            für Schritt von Microsoft Access auf das neue System umgestellt.
            Jeder Mitarbeiter kann mit eigenem Login auf die Daten zugreifen und
            bekommt automatisch alle Aktualisierungen reingespielt.
          </small>
        </li>
        <li>
          <b>2021 bis 2022:</b> GovRadar GmbH <br />
          <small>
            Die Plattform für die Vereinfachung von Ausschreibungen gestartet
            und entwickelt. Während am Anfang noch kein einziger Prozess fest
            stand, haben am Ende die ersten Kunden das Produkt erfolgreich
            verwendet. Mittlerweile eines der am schnellsten wachsenden Startups
            in Deutschland.
          </small>
        </li>
        <li>
          <b>Start 2021:</b> VfR Garching <br />
          <small>
            Erstellung eines individuellen Trainingsgenerators mit dem jeder
            Trainer individuelle Trainsingspläne für seine Mannschaft erstellen
            kann. Damit war es möglich die Zeit für Trainingsplanung stark zu
            verkürzen und Traingsqualität zu verbessern.
          </small>
        </li>
        <li>
          <b>Start 2020:</b> Schätz GmbH <br />
          <small>
            Digitalisierung der gesamten Maschinenverleih Plattform. Darüber
            können Maschinen reserviert werden, Mitverträge und Rechnungen
            geschrieben, sowie alle Maschinen bearbeitet werden.
          </small>
        </li>
      </ul>
      <h2>Websites</h2>
      <p>
        Meine Websites-Projekte finden Sie hier: <a
          href="https://tortuga-webdesign.de/referenzen/">Tortuga Webdesign</a
        >.
      </p>
      <Cta />
    </article>
  </section>
  <Footer />
</Layout>
