@tailwind base;

@tailwind components;

@tailwind utilities;

.container-wide {
	max-width: 1600px;
}

.text-gray-650 {
	color: #5D6B80;
}

.cc-banner {
	max-width: 1560px;
}

.cc-invisible {
	@apply .hidden;
}
